{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Luna ", "Regal ", "Sand ", "Desert ", "Solar ", "Sun ", "Moon ", "Arcane ", "Magic ", "Wind ", "Mythic ", "Crushing ", "Devastating ", "Ruinous ",  "Flower ", "Dust ", "Cataclysmic ", "Radiant ", "Light ", "Teal ", "Cyan ", "Orange ", "Red ", "Blue ", "Green ", "Yellow ",  "Gold ", "Silver ", "Ruby ", "Sapphire ", "Emerald ", "Diamond ", "Black ", "White ", "Grey ", "Copper ", "Chitin ", "Obsidian ", "Glass ", "Ash ", "Bronze ", "Amethyst ", "Ant ", "Owl ", "Sulfur ", "Grateful ", "Armored ", "Mystic ", "Singing ", "Volcanic ", "Fiery ", "Glass ", "Ra ", "Sky ", "Flying ", "Star " ],
      [ { "mode" : "alts" }, "Blade", "Flame", "Flare", "Shield", "Talon ", "Claw", "Whirlpool", "Crescent", "Dagger", "Dragon", "Wing", "Knight", "Mage", "Striker", "Stinger", "Spirit", "Myrmidon", "Destroyer" ]
    ]
  ]
}
